<footer>
  <div class="site_map">
    <h2>Site Map</h2>
      <p>©Cortland
  			<a href = "../about">About</a>
  			<a href = "../contact">Contact-us</a>
  			<img src = "/assets/images/Social-Media.png" alt = "social-media">
  		</p>
    <ul>
      <li>
        <a href="https://validator.w3.org/check?uri=referer">Validate HTML5</a>
      </li>
      <li>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" rel="nofollow" title="Validate CSS">Validate CSS</a>
      </li>
    </ul>
  </div>
</footer>
