<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
  <title>About</title>
</head>


<body>
  <%- include('./partials/header.ejs'); -%>
  <section class="welcome">
    <h1>About Us</h1>
    <img src="/assets/images/office.jpg" alt="office" id="office_photo">
    <p>Living in our Cortland apartment community isn’t like living at any other apartment community.<br>
		Through our community programs and services, we aim to deliver a level of hospitality that <br>
		creates a living experience focused on your everyday delight.</p>
		<p>Using this page we allow our residents to see what events are coming up along with a way <br>
		to schedule which events they would like to attend. </p>
  </section>
  <%- include('./partials/footer.ejs'); -%>
</body>

</html>
