<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
  <title>Contact</title>
</head>


<body>
  <%- include('./partials/header.ejs'); -%>
  <section class = "contact">
    <img src="/assets/images/contact.jpg" alt="contact" id="contact_photo">
		<h1>Contact Us</h1>
		<h2>Email: </h2>
		<p>cortlandhelpdesk@gmail.com</p>
		<h2>Phone: </h2>
		<p>345-524-2352</p>
		<h2>Address: </h2>
		<p>1700 N Brevard St</p>
  </section>
  <%- include('./partials/footer.ejs'); -%>
</body>

</html>
