<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
  <title>Home Page</title>
</head>


<body>
  <%- include('./partials/header.ejs'); -%>
  <section class="welcome">
    <h1>Cortland Noda</h1>
    <p id="home">
      <img id="cort" src="assets/images/cort.jpg" alt="cort">
      <img id="cort" src="assets/images/lounge.jpg" alt="logo">
      <img id="cort" src="assets/images/pool.jpg" alt="pool">
    </p>
    <p>
      Welcome to the home page of the Cortland Noda connections page
    </p>
  </section>
  <%- include('./partials/footer.ejs'); -%>
</body>

</html>
